
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #96dbf8;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 20px;
  color: #e76060;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #1c1717;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  color: #080707;
}

.event-selection {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.event-selection label {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: normal;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #101113;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.dropdown {
  margin-bottom: 20px;
}

.dropdown-toggle {
  width: 100%;
  padding: 10px;
  border: 1px solid #161515;
  border-radius: 5px;
  background-color: #0e0f0f;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.dropdown-toggle:hover {
  background-color: #141516;
}

.dropdown-menu {
  width: 100%;
  padding: 10px;
  border: 1px solid #4e4343;
  border-radius: 5px;
  background-color: #fffbfb;
}

.dropdown-item {
  display: block;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  color: #6d8fb3;
  text-decoration: none;
}

.dropdown-item:hover {
  background-color: #f4f4f4;
}